<!DOCTYPE html>
<html>

<head>

	<title>Online Character Map</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">

	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.3.4/vue-resource.min.js"></script>

</head>

<body>

	<div id="root">

		<section class="hero is-primary">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">
						Online Character Map
					</h1>
					<h2 class="subtitle">
						Search Characters on the go!!!
					</h2>
				</div>
			</div>
		</section>

		<br/>

		<div class="columns">
			<div class="column"></div>
			<div class="column is-two-quarters">
				<div class="control has-icons-right">
					<input class="input is-large" type="text" placeholder="Search" v-model="searchtext" />
					<span class="icon is-right">
					<i class="fa fa-search"></i>
					</span>
				</div>
				<br/>
				<div class="control">
					<label class="radio">
							<input type="radio" value="keyword" name="searchfilter" v-model="searchfilter" checked>Keyword
					</label>
					<label class="radio">
							<input type
							="radio" value="character" name="searchfilter" v-model="searchfilter">Character
					</label>
				</div>
			</div>
			<div class="column"></div>
		</div>

		<div class="container" v-if="searchtext != ''">
			<h3>Found {{filteredItems.length}} results for '{{searchtext}}'</h3>
		</div>


		<div class="container" v-for="item in filteredItems">
			<div class="card">
				<div class="card-content">
					<article class="media">
						<figure class="media-left">
							<span class="subtitle is-1">{{item.code | codeToString}}</span>
						</figure>
						<div class="content">
							<div class="tags">
								<span class="tag is-primary" v-for="keyword in item.keywords">{{keyword}}</span>
							</div>
						</div>
					</article>
				</div>
				<footer class="card-footer">
					<a class="card-footer-item" v-on:click="greet(item.code,'cts')">{{item.code | codeToString}}</a>
					<a class="card-footer-item" v-on:click="greet(item.code,'cth')">Hex value: {{item.code | codeToHex}}</a>
					<a class="card-footer-item" v-on:click="greet(item.code,'cto')">Octal value: {{item.code | codeToOct}}</a>
					<a class="card-footer-item" v-on:click="greet(item.code,'cte')">HTML Entity: {{item.code | codeToHtml}}</a>
					<a class="card-footer-item" v-on:click="greet(item.code,'ctu')">Unicode: {{item.code | codeToUnicode}}</a>
					<a class="card-footer-item" v-on:click="greet(item.code,'ctj')">JS Escaped: {{item.code | codeToJsEscaped}}</a>
				</footer>
			</div>
		</div>

		<br/>

		<section class="hero is-primary">
			<div class="hero-body">
				<div class="container">
					<div class="content has-text-centered">
						<p>
							<strong>Online Character Map</strong> by <a href="https://www.github.com/melwinalm">Melwin Amith D'Almeida</a>.
						</p>
						<p>
							<a class="icon" href="https://github.com/melwinalm/Online-Character-Map">
									<i class="fa fa-github"></i>
								</a>
						</p>
					</div>
				</div>
			</div>
		</section>

	</div>



	<script src="main/app.js"></script>

</body>

</html>